// Imported from https://quasar.dev/style/sass-scss-variables

// Max width at which point
// current size ends
$breakpoint-xs: 599px !default;
$breakpoint-sm: 1023px !default;
$breakpoint-md: 1439px !default;
$breakpoint-lg: 1919px !default;

$sizes: (
  'xs': 0,
  'sm': (
    $breakpoint-xs + 1,
  ),
  'md': (
    $breakpoint-sm + 1,
  ),
  'lg': (
    $breakpoint-md + 1,
  ),
  'xl': (
    $breakpoint-lg + 1,
  ),
) !default;

$breakpoint-xs-max: (map-get($sizes, 'sm') - 0.02) !default;

$breakpoint-sm-min: map-get($sizes, 'sm') !default;
$breakpoint-sm-max: (map-get($sizes, 'md') - 0.02) !default;

$breakpoint-md-min: map-get($sizes, 'md') !default;
$breakpoint-md-max: (map-get($sizes, 'lg') - 0.02) !default;

$breakpoint-lg-min: map-get($sizes, 'lg') !default;
$breakpoint-lg-max: (map-get($sizes, 'xl') - 0.02) !default;

$breakpoint-xl-min: map-get($sizes, 'xl') !default;

// Media Query
$breakpoints: (
  'sm': 'screen and (max-width: #{$breakpoint-xs-max})',
  'md': 'screen and (max-width: #{$breakpoint-sm-max})',
  'lg': 'screen and (max-width: #{$breakpoint-md-max})',
  'xl': 'screen and (max-width: #{$breakpoint-lg-max})',
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
